<?xml version="1.0" encoding="utf-8" ?>
<!-- Log config -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- See https://github.com/nlog/nlog/wiki#configuration-reference for more information on this file -->
	<targets>
		<target name="logfile"
				xsi:type="File"
				fileName="${basedir}/logs/${date:format=yyyyMMdd}.log"
				layout="${date:format=yyyy-MM-dd HH\:mm\:ss} [${processid}:${threadid}] ${message}${onexception:inner=${newline}${exception:format=type,message,method,stacktrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}" />
		<target name="debugger"
				xsi:type="Debugger"
				layout="${message}"/>
		<target name="console"
				xsi:type="Console"
				layout="${message}${onexception:inner=${newline}${exception:format=type,message,method,stacktrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}" />
	</targets>

	<rules>
		<logger name="Microsoft.*" maxLevel="Info" final="true" />
		<logger name="*" minlevel="Trace" writeTo="debugger,logfile"/>
	</rules>
</nlog>